<div id="<%= dom_id profile %>">
    <div class="container">
      <div class="row justify-content-start">
        <div class= "col">
          <p><%= profile.name %></p>
        </div>
        <div class="col ">
          <p>
            <%= profile.attacks %>
          </p>
        </div>
        <div class="col align-self-start">
          <p>
            <%= profile.skill %>
          </p>
        </div>
        <div class="col">
          <p>
            <%= profile.strength %>
          </p>
        </div>
        <div class="col">
          <p>
            <%= profile.armor_piercing %>
          </p>
        </div>
        <div class="col">
          <p>
            <%= profile.damage %>
          </p>
        </div>
      </div>
  </div>
</div>
