<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Weapon:</strong>
    <%= profile.weapon_id %>
  </p>

  <p>
    <strong>Attacks:</strong>
    <%= profile.attacks %>
  </p>

  <p>
    <strong>Skill:</strong>
    <%= profile.skill %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= profile.strength %>
  </p>

  <p>
    <strong>Aarmor piercing:</strong>
    <%= profile.aarmor_piercing %>
  </p>

  <p>
    <strong>Damage:</strong>
    <%= profile.damage %>
  </p>

</div>
