<div id="<%= dom_id model %>">


  <% if model.name  != model.unit.name%>
    <p>
      <strong>Name:</strong>
      <%= model.name %>
    </p>
  <% end%>

  <p>
    <strong>Movement:</strong>
    <%= model.movement %>
  </p>

  <p>
    <strong>Toughness:</strong>
    <%= model.toughness %>
  </p>

  <p>
    <strong>Save value:</strong>
    <%= model.save_value %>
  </p>

  <p>
    <strong>Invulnerable save:</strong>
    <%= model.invulnerable_save %>
  </p>

  <p>
    <strong>Wounds:</strong>
    <%= model.wounds %>
  </p>

  <p>
    <strong>Leadership:</strong>
    <%= model.leadership %>
  </p>

  <p>
    <strong>Objective control:</strong>
    <%= model.objective_control %>
  </p>
  <% model.equipments.each do |equipment|%>
    <%= render "equipments/equipment", equipment: equipment%>
  <% end %>
</div>
