<div id="<%= dom_id equipment %>">
  <p>
    <strong>Model:</strong>
    <%= equipment.model_id %>
  </p>

  <p>
    <strong>Weapon:</strong>
    <%= equipment.weapon %>
  </p>

  <p>
    <strong>Limits:</strong>
    <%= equipment.limits %>
  </p>

  <p>
    <strong>Slot:</strong>
    <%= equipment.slot %>
  </p>

</div>
