<div id="<%= dom_id faction %>">
  <p>
    <strong>Name:</strong>
    <%= faction.name %>
  </p>

  <p>
    <strong>Banner:</strong>
    <%= faction.banner %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= faction.icon %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= faction.picture %>
  </p>

</div>
