<div id="<%= dom_id unit %>">
  <% if unit.get_abilities("CORE").length != 0 %>
    <div class="row border" >
      <div class= "col border">
        <p>Core:</p>
      </div>
        <% unit.get_abilities("CORE").each do |ability| %>
          <div class= "col border">
            <p><%= ability.name %></p>
          </div>
        <% end %>
    </div>
  <% end %>
  <% if unit.get_abilities("FACTION").length != 0 %>
    <div class="row border" >
      <div class="col border">
        <p>Faction:</p>
      </div>
        <% unit.get_abilities("FACTION").each do |ability| %>
          <div class= "col border">
            <p><%= ability.name %></p>
          </div>
        <% end %>
    </div>
  <% end %>
  <% if unit.get_abilities("STANDARD").length != 0 %>
    <div class="row border" >
      <ul class= "list-group">
        <% unit.get_abilities("STANDARD").each do |ability| %>
            <li class="list-group-item">
                <%= render "abilities/ability", ability: ability%>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <% if unit.get_abilities("WARGEAR").length != 0 %>
    <div class="row border" >
      <ul class= "list-group">
        <% unit.get_abilities("WARGEAR").each do |ability| %>
            <li class="list-group-item">
                <%= render "abilities/ability", ability: ability%>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
