
  <%= form_with(model: unit, url: unit_path(@unit), method: :patch, data: { turbo: false }) do |form| %>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, value: "#{@unit.name}" %>
    </div>

    <div>
      <%= form.label :role, style: "display: block" %>
      <%= form.text_field :role, value: "#{@unit.role}" %>
    </div>

    <div>
      <%= form.label :cost, style: "display: block" %>
      <%= form.number_field :cost, value: "#{@unit.cost}" %>
    </div>

    <div>
      <%= form.label :max_size, style: "display: block" %>
      <%= form.number_field :max_size, value: "#{@unit.max_size}" %>
    </div>

    <div>
      <%= form.label :base_size, style: "display: block" %>
      <%= form.number_field :base_size, value: "#{@unit.base_size}" %>
    </div>

    <div>
      <%= form.label :picture, style: "display: block" %>
      <%= form.text_field :picture, value: "#{@unit.picture}" %>
    </div>
    <div>
      <%= form.label :faction_id, style: "display: block" %>
      <%= form.number_field :faction_id, value:"#{@unit.faction_id}" %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  <div>
      <% @unit.models.each do |model|%>
        <%= link_to model.name, unit_model_path(@unit.id, model), remote: false %>
      <% end %>
  </div>
