<div id="<%= dom_id unit %>">
  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>

  <% if unit.role != nil%>
    <p>
      <strong>Role:</strong>
      <%= unit.role %>
    </p>
  <%end%>
  <p>
    <strong>Cost:</strong>
    <%= unit.cost %>
  </p>

  <p>
    <strong>Faction:</strong>
    <%= Faction.where(id: unit.faction_id).last.name %>
  </p>

  <p>
    <strong>Max size:</strong>
    <%= unit.max_size %>
  </p>

  <p>
    <strong>Base size:</strong>
    <%= unit.base_size %>
  </p>

 <% if unit.picture != nil%>
  <p>
    <strong>Picture:</strong>
    <%= unit.picture %>
  </p>
  <%end%>
<% unit.models.each do |model| %>
    
  <%= render "models/model", model: model %>
<% end %>
<% unit.unit_abilities.each do |unit_abilities| %>
  <%= render "unit_abilities/unit_ability", unit_ability: unit_abilities %>
<% end %>

</div>
