<div id="<%= dom_id unit %>">
   <div class= "container border">
      <div class="row border">
         <div class= "col ">
            <ul class="list-group">
               <li class="list-group-item" id="list_<%= dom_id unit%>"><%= unit.name %><%= unit.base_size%>
               </li>
               <li class="list-group-item">
                <p> 
                <%= button_to root_path, method: :get, class: "btn btn-primary" do %>
               <i class="fa-solid fa-star fa-xl"></i>
               <% end %>
                  Click this button to favorite/unfavorite units if signed in
                </p>
               </li>
            </ul>
         </div>

         <div class= "col ">
               <%= image_tag(unit.picture)%>
         </div>
      </div>

      <div class="row border align-items-center">
         <div class="col justify-content-md-center">
            <div>
              <p>             
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#<%= unit.id %>" aria-expanded="false" aria-controls="collapseExample">
                          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" fill="currentColor" class="bi bi-arrow-bar-down align-items-center" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5M8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6"/>
                          </svg>
                </button>
                Click this button to display the units information
              </p>
               <div class="collapse" id= "<%= unit.id %>">
                  <div class="card card-body">
                     <%= render "units/unit", unit: unit  %>
                  </div>
               </div>
            </div>
         </div>

         </div>
      </div>
   </div>
</div>
