<div id="<%= dom_id unit %>">
  <p>
    <strong>Small:</strong>
    <%= unit.small %>
  </p>

  <p>
    <strong>Large:</strong>
    <%= unit.large %>
  </p>

  <p>
    <strong>Faction:</strong>
    <%= unit.faction_id %>
  </p>

  <p>
    <strong>Captain:</strong>
    <%= unit.captain %>
  </p>

  <p>
    <strong>Damage:</strong>
    <%= unit.damage %>
  </p>

</div>
