<div id="<%= dom_id unit %>">
  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= unit.role %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= unit.cost %>
  </p>

  <p>
    <strong>Faction:</strong>
    <%= unit.faction_id %>
  </p>

  <p>
    <strong>Max size:</strong>
    <%= unit.max_size %>
  </p>

  <p>
    <strong>Base size:</strong>
    <%= unit.base_size %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= unit.picture %>
  </p>

</div>
