<div id="<%= dom_id unit %>">
  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>

  <% if unit.role != nil%>
    <p>
      <strong>Role:</strong>
      <%= unit.role %>
    </p>
  <%end%>
  <p>
    <strong>Cost:</strong>
    <%= unit.cost %>
  </p>

  <p>
    <strong>Faction:</strong>
    <%= Faction.where(id: unit.faction_id).last.name %>
  </p>

  <p>
    <strong>Max size:</strong>
    <%= unit.max_size %>
  </p>

  <p>
    <strong>Base size:</strong>
    <%= unit.base_size %>
  </p>

 <% if unit.picture != nil%>
  <p>
    <strong>Picture:</strong>
    <%= unit.picture %>
  </p>
  <%end%>
  <%# gets models %>
  <% unit.models.each do |model| %>
    <%= render "models/model", model: model %>
  <% end %>
<%# gets weapons %>
<div class="container text-center">
  <% unit.models.each do |model| %>
    <% melee = Array.new %>
    <% range = Array.new %>
    <% model.equipments.each do |equipment| %>
      <% if(equipment.weapon.range == 0)%>
        <% melee.push(equipment) %>
      <% else %>
        <% range.push(equipment)%>
      <% end %>
    <% end %>
    <%if range.length == 0 %>
      <div class="row">
        <% melee.each do |equipment|%>
        <%= render "equipments/equipment", equipment: equipment %>
        <% end %>
      </div>
    <%else%>
        <div class="row">
          <div class="col">
            Ranged Weapons
          </div>
          <div class="col">
            Range
          </div>
          <div class="col">
            Attacks
          </div>
          <div class="col" >
            Balistic Skill
          </div>
          <div class="col">
            Strength
          </div>
          <div class="col">
            Armor Piercing
          </div>
          <div class="col">
            Damage
          </div>
        </div>
       <div class="row">
          <% range.each do |equipment|%>
            <div class="row">
              <%= render "units/stats", equipment: equipment %>
            </div>
          <% end %>
        </div>
        <div class="row">
        <% melee.each do |equipment|%>
        <%= render "equipments/equipment", equipment: equipment %>
        <% end %>
        
    <% end %>
  <% end %>
  </div>

<%# This following block works on collecting all weapons for a model %>
<%# unit.models.each do |model| %>
  <%# model.equipments.each do |equipment| %>
    <%#= render "equipments/equipment", equipment: equipment %>
  <%# end %>
<%# end %>
<div class="container text-center">
  <div class="row">
  <%# range weapons %>
    <div class="col">
      Ranged Weapons
    </div>
    <div class="col">
      Range
    </div>
    <div class="col">
      Attacks
    </div>
    <div class="col" >
      Balistic Skill
    </div>
    <div class="col">
      Strength
    </div>
    <div class="col">
      Armor Piercing
    </div>
    <div class="col">
      Damage
    </div>
  </div>
    <div class="row">
  <%# Melee weapons %>
    <div class="col">
      Melee Weapons
    </div>
    <div class="col">
      Range
    </div>
    <div class="col">
      Attacks
    </div>
    <div class="col" >
      Weapons Skill
    </div>
    <div class="col">
      Strength
    </div>
    <div class="col">
      Armor Piercing
    </div>
    <div class="col">
      Damage
    </div>
  </div>
</div>



</div>
