<div id="<%= dom_id unit %>">
<%  weapons = unit.get_weapons %>
    <%# Shows melee weapons and range weapons if they exist %>
      <% weapons.each do |type| %>
        <% if type[0] %>
          <table class="table">
            <thead>
              <tr>
                <% if type[0].range != 0 %>
                  <th>Range Weapons:</th>
                <% else %>
                  <th>Melee Weapons:</th>
                <% end %>
                <th>Range: </th>
                <th>A</th>
                <% if type[0].range != 0 %>
                  <th>BS</th>
                <% else %>
                  <th>AS</th>
                <% end %>
                <th>S</th>
                <th>AP</th>
                <th>Damage</th>
              </tr>
            </thead>
            <tbody>
              <% type.each do |weapon| %>
                <tr>
                  <td><%= weapon.name%></td>
                  <% if weapon.profile.length > 1 %>
                    </tr>

                    <% weapon.profile.each do |profile|%>
                      <tr>
                      <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                      <%= profile.name %></td>
                      <td>
                      <% if weapon.range === 0%>
                      Melee
                      <% else %>
                      <%= weapon.range %>
                      <% end %>
                      </td>
                      <td><%= profile.attacks%></td>
                      <td><%= profile.skill%></td>
                      <td><%= profile.strength%></td>
                      <td><%= profile.armor_piercing%></td>
                      <td><%= profile.damage%></td>
                      </tr>
                    <% end %>
                  <% else %>
                  <td>
                    <% if weapon.range === 0%>
                    Melee
                    <% else %>
                    <%= weapon.range %>
                    <% end %>
                    </td>
                      <td><%= weapon.profile.last.attacks%></td>
                      <td><%= weapon.profile.last.skill%></td>
                      <td><%= weapon.profile.last.strength%></td>
                      <td><%= weapon.profile.last.armor_piercing%></td>
                      <td><%= weapon.profile.last.damage%></td>
                  <% end %>
                </tr> 
              <% end %>
            </tbody>
          </table>
          <%end%>
      <% end%>
</div>
